@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins, Helvetica, Arial, sans-serif';
    color: theme('colors.dark')
}

h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
    width: 100%;
    position: relative;
    padding-left: 180px;
    font-size: 3rem;
    margin-bottom: 48px;

    span {
        color: theme('colors.primary');
        font-size: 7rem;
        line-height: 70px;
    }

    :after {
        content: " ";
        display: block;
        height: 2px;
        width: 130px;
        position: absolute;
        top: 50%;
        left: 0;
        background: theme('colors.primary');
    }

    @media(max-width: 600px) {
        font-size: 2rem;
        padding-left: 56px;
        margin-bottom: 24px;

        span {
            font-size: 3rem;
            line-height: 1rem;
        }

        :after {
            width: 40px;
        }
    }
}

h2 {
    font-family: 'Noto Serif';
    font-weight: 700;
    position: relative;
    margin-bottom: 48px;
    padding-left: 120px;
    display: inline-block;

    span {
        color: theme('colors.primary');
        font-size: 48px;
        line-height: 40px;
    }

    :after {
        content: " ";
        display: block;
        height: 2px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 0;
        background: theme('colors.primary');
    }

    @media(max-width: 600px) {
        padding-left: 56px;


        span {
            font-size: 3rem;
            line-height: 2rem;
        }

        :after {
            width: 40px;
        }
    }
}



h2.inverted {
    padding-right: 140px;
    padding-left: 0;

    :after {
        content: " ";
        display: block;
        height: 2px;
        width: 130px;
        position: absolute;
        top: 50%;
        right: 0;
        left: auto;
        background: theme('colors.primary');
    }

    span {
        color: theme('colors.primary');
        font-size: 48px;
        line-height: 40px;
    }

    @media(max-width: 600px) {
        padding-right: 56px;

        :after {
            width: 40px;
        }
    }
}


h4 {
    font-family: 'Noto Serif';
    font-weight: 700;
    position: relative;
    padding-left: 120px;
    display: inline-block;

    span {
        color: theme('colors.primary');
        font-size: 48px;
        line-height: 40px;
    }

    :after {
        content: " ";
        display: block;
        height: 2px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 0;
        background: theme('colors.primary');
    }

    @media(max-width: 600px) {
        padding-left: 56px;


        span {
            font-size: 2rem;
        }

        :after {
            width: 40px;
        }
    }
}

section {
    margin-bottom: 96px;

    @media(max-width: 600px) {
        margin-bottom: 48px;
    }
}

.high {
    font-family: 'Noto Serif';
    font-weight: 700;
}

.link {
    display: inline-block;
    padding: 12px;
    border-radius: 6px;

    border: 1px dashed theme('colors.primary');

    &:hover {
        background-color: theme('colors.secondary');
    }
}

p {
    padding: 12px 0;
}

.profile-card {
    background-color: theme('colors.secondary') !important;
    border: 1px solid theme('colors.primary') !important;
    border-radius: 6px 24px 6px 24px !important;
    opacity: 0.7;
    // transition: all 0.2s ease-in;

    &:hover {
        opacity: 1;
        // transform: scale(1.05);
    }

    :deep(.el-card__header) {
        border: 0 !important;
        padding-bottom: 0;
    }

    &--stateless {
        opacity: 1;
    }
}

.dash {
    width: 12px;
    height: 16px;
    border-bottom: 1px solid theme('colors.primary');
    margin-top: -50%;
    display: inline-block;
    margin-right: 6px;

}



.hero {
    min-height: 85vh;

    &-content {
        margin-top: 126px;
        // background-color: rgb(255 244 224 / 73%);
        // padding: 24px;
        // border-radius: 12px;

        @media(max-width: 600px) {
            margin-top: 96px;
        }
    }

    &-sub {
        background: rgb(255, 244, 224);
        // background: linear-gradient(90deg, rgba(255, 244, 224, 1) 0%, rgba(255, 244, 224, 1) 81%, rgba(255, 191, 155, 1) 100%);
        border-radius: 0 6px 96px 0;
        padding: 12px 36px 12px 0;
        max-width: 420px;

        @media(max-width: 600px) {
            padding: 12px 0;
        }
    }

    &-logo {
        @media(max-width: 600px) {
            width: 90%;
        }
    }

    &-img {
        width: 55%;
        height: 400px;
        position: absolute;
        bottom: 0;
        right: 0;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 12px 24px 0 36px;
        opacity: 0.9;
        z-index: 1;

        @media(max-width: 600px) {
            position: relative;
            width: 100%;
        }
    }
}

.block-img {
    width: 55%;
    height: 400px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 24px 12px 36px;
    opacity: 0.9;
    z-index: 1;

    @media(max-width: 600px) {
        position: relative;
        width: 100%;
    }

    &--top {
        top: 0;
    }

    &--bottom {
        bottom: 0;
    }

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}

.on-top {
    z-index: 2;
}

ul li {
    margin-bottom: 12px;
}


table,
th,
td {
    border: 1px solid theme('colors.primary');
    border-collapse: collapse;
}

table {
    width: 100%;
}

td {
    padding: 12px;
}